.partners-table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partners-table th,
.partners-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
.admin-content {
  width: 100%;
  padding-top: 80px;
}
.partners-table th {
  font-weight: 600;

  font-size: 14px;
}

.customer-info {
  display: flex;
  align-items: center;
}

.customer-logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.status {
  color: green;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.edit-icon::before {
  content: "✏️";
}

.delete-icon::before {
  content: "🗑️";
}
